<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ "ADD_PAGES.title" | translate }}
    </mat-panel-title>
    <mat-panel-description fxHide.xs>
      {{ "ADD_PAGES.subtitle" | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="{{ 'ADD_PAGES.tab1' | translate }}">
        <form name="add_pages" (submit)="addPages($event)" [formGroup]="pagesForm" fxLayout="column" novalidate>
          <mat-form-field>
            <label for="add_pages_domain">{{ "ADD_PAGES.domain_label" | translate }}</label>
            <input id="add_pages_domain" matInput type="text" name="domain" formControlName="domain">
          </mat-form-field>
          <mat-form-field>
            <label for="add_website_pages">{{ "ADD_PAGES.pages_label" | translate }}</label>
            <textarea id="add_website_pages" name="pages" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" formControlName="pages" [errorStateMatcher]="matcher" required></textarea>
            <mat-hint>{{ "ADD_PAGES.hint" | translate }}</mat-hint>
            <mat-error *ngIf="pagesForm.controls.pages.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
            <mat-error *ngIf="pagesForm.controls.pages.hasError('url')" [innerHTML]="'ADD_PAGES.error' | translate"></mat-error>
            <mat-error *ngIf="pagesForm.controls.pages.hasError('domainNoMatch')" [innerHTML]="'ADD_PAGES.url_match_error' | translate"></mat-error>
            <mat-error *ngIf="pagesForm.controls.pages.hasError('missingProtocol')" [innerHTML]="'ADD_PAGES.url_missing_protocol' | translate"></mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="submit" [disabled]="pagesForm.invalid">
              {{ "ADD_PAGES.button" | translate }}
            </button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="{{ 'ADD_PAGES.tab2' | translate }}">

      </mat-tab>
      <mat-tab label="{{ 'ADD_PAGES.tab3' | translate }}">
        <div class="crawler-container" fxLayout="row" fxLayoutAlign="start center">
          <span>{{ "ADD_PAGES.crawler.status" | translate }}: <span class="status {{ crawlStatus }}">{{ "ADD_PAGES.crawler." + crawlStatus | translate }}</span></span>
          <span fxFlex="5"></span>
          <button mat-flat-button color="primary" (click)="crawlWebsite()" [disabled]="crawlButtonDisable">
            {{ "ADD_PAGES.crawler.crawl_button" | translate }}
          </button>
          <span fxFlex="5"></span>
          <button mat-flat-button class="check-results" (click)="openCrawlingResultsDialog()" [disabled]="crawlResultsDisabled">
            {{ "ADD_PAGES.crawler.results_button" | translate }}
          </button>
          <span fxFlex="5"></span>
          <button mat-flat-button color="warn" (click)="deleteCrawlingResults()" [disabled]="crawlResultsDisabled">
            {{ "ADD_PAGES.crawler.delete_button" | translate }}
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</mat-expansion-panel>
