<header class="drop_content">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxHide.lt-md>
      <span fxFlex>Access Studies</span>
      <button mat-button *ngIf="user.isUserLoggedIn()" (click)="user.logout()">
        {{ "LOGIN.logout" | translate }}
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-sm>
      <button class="menu-button" mat-icon-button (click)="toggleSidenav()" *ngIf="user.isUserLoggedIn()">
        <mat-icon aria-label="Open sidebar menu">menu</mat-icon>
      </button>
      <span class="title" fxFlex>Access Studies</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<br>