<header class="drop_content">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxHide.lt-md>
      <span fxFlex>Study Monitor <span *ngIf="user.getUsername()">- {{ user.getUsername() }}</span></span>
      <button mat-button *ngIf="user.isUserLoggedIn()" routerLink="/user/settings">
        {{ "HEADER.settings" | translate }}
      </button>
      <button mat-button *ngIf="user.isUserLoggedIn()" (click)="logout()">
        {{ "LOGIN.logout" | translate }}
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-sm>
      <button class="menu-button" mat-icon-button (click)="toggleSidenav()">
        <mat-icon aria-label="Open sidebar menu">menu</mat-icon>
      </button>
      <span class="title" fxFlex>Study Monitor</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-navbar *ngIf="user.isUserLoggedIn()" fxHide.lt-md></app-navbar>
</header>
<br>
