<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ "ADD_WEBSITE.new.title" | translate }}
    </mat-panel-title>
    <mat-panel-description fxHide.lt-md>
      {{ "ADD_WEBSITE.new.subtitle" | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <form (submit)="addWebsite($event)" [formGroup]="websiteForm" fxLayout="column" novalidate>
      <mat-form-field>
        <label for="ADD_WEBSITE.new_name">{{ "ADD_WEBSITE.new.name_label" | translate }}</label>
        <input id="ADD_WEBSITE.new_name" type="text" name="name" matInput formControlName="name" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="websiteForm.controls.name.status === 'PENDING'">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-error>
        <mat-error *ngIf="websiteForm.controls.name.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.name.hasError('takenName')" [innerHTML]="'ADD_WEBSITE.new.taken_name' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.name.hasError('takenNameError')" [innerHTML]="'ADD_WEBSITE.new.taken_name_error' | translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="ADD_WEBSITE.new_domain">{{ "ADD_WEBSITE.new.domain_label" | translate }}</label>
        <input id="ADD_WEBSITE.new_domain" type="text" name="domain" matInput formControlName="domain" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="websiteForm.controls.domain.status === 'PENDING'">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-error>
        <mat-error *ngIf="websiteForm.controls.domain.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.domain.hasError('invalidDomain')" [innerHTML]="'ADD_WEBSITE.new.invalid_domain' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.domain.hasError('takenDomain')" [innerHTML]="'ADD_WEBSITE.new.taken_domain' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.domain.hasError('takenDomainError')" [innerHTML]="'ADD_WEBSITE.new.taken_domain_error' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.pages.hasError('domainMissingProtocol')" [innerHTML]="'ADD_WEBSITE.new.domain_missing_protocol' | translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="ADD_WEBSITE.new_pages">{{ "ADD_WEBSITE.new.urls_label" | translate }}</label>
        <textarea id="ADD_WEBSITE.new_pages" name="pages" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" formControlName="pages" [errorStateMatcher]="matcher"></textarea>
        <mat-hint>{{ "ADD_WEBSITE.new.hint" | translate }}</mat-hint>
        <mat-error *ngIf="websiteForm.controls.pages.hasError('url')" [innerHTML]="'ADD_WEBSITE.new.invalid_url' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.pages.hasError('domainNoMatch')" [innerHTML]="'ADD_WEBSITE.new.url_match_error' | translate"></mat-error>
        <mat-error *ngIf="websiteForm.controls.pages.hasError('missingProtocol')" [innerHTML]="'ADD_WEBSITE.new.url_missing_protocol' | translate"></mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" [disabled]="websiteForm.invalid">
          {{ "ADD_WEBSITE.new.button" | translate }}
        </button>
      </div>
    </form>
  </ng-template>
</mat-expansion-panel>
