<mat-card class="mat-typography">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "SETTINGS.title" | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <br>
  <mat-card-content>
    <h2>{{ "SETTINGS.change_password.title" | translate }}</h2>
    <form (submit)="changePassword($event)" [formGroup]="passwordForm" name="change_password" fxLayout="column" novalidate>
      <mat-form-field>
        <label for="current_password">{{ "SETTINGS.change_password.current_password" | translate }}</label>
        <input matInput id="current_password" type="password" formControlName="currentPassword" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="new_password">{{ "SETTINGS.change_password.new_password" | translate }}</label>
        <input matInput id="new_password" type="password" formControlName="newPassword" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="passwordForm.controls.newPassword.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="confirm_password">{{ "SETTINGS.change_password.confirm_password" | translate }}</label>
        <input matInput id="confirm_password" type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('required') && !passwordForm.controls.confirmPassword.errors?.MatchPassword" [innerHTML]="'MISC.required_field' | translate"></mat-error>
        <mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.MatchPassword && !passwordForm.controls.confirmPassword.hasError('required')">
          {{ "SETTINGS.change_password.new_password_match_error" | translate }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid" fxFlex="15">
          {{ "SETTINGS.change_password.submit" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
