<mat-nav-list>
  <a href="#" mat-list-item (click)="openCreateCategoryDialog($event)">
    <span mat-line>{{ "BOTTOMSHEET.category.title" | translate }}</span>
  </a>
  <a href="#" mat-list-item (click)="openAddWebsiteDialog($event)">
    <span mat-line>{{ "BOTTOMSHEET.website.title" | translate }}</span>
  </a>
  <a href="#" mat-list-item (click)="openImportWebsiteDialog($event)">
    <span mat-line>{{ "BOTTOMSHEET.website2.title" | translate }}</span>
    <span mat-line>{{ "BOTTOMSHEET.website2.subtitle" | translate }}</span>
  </a>
  <a href="#" mat-list-item (click)="openAddPagesDialog($event)">
    <span mat-line>{{ "BOTTOMSHEET.pages.title" | translate }}</span>
  </a>
</mat-nav-list>