<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "STATISTICS.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "STATISTICS.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div>
        <ngx-gauge [type]="'semi'" [thick]="'10'" [value]="score | toFixed" [label]="'STATISTICS.gauge.label' | translate"
          [min]="0" [max]="10" [duration]="2000" [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>
      <div>
        <mat-list>
          <mat-list-item>
            <span><strong>{{ "STATISTICS.websites" | translate }}:</strong> {{ websites.length }}</span>
          </mat-list-item>
          <mat-list-item>
            <span><strong>{{ "STATISTICS.pages" | translate }}:</strong> {{ n_pages }}</span>
          </mat-list-item>
          <mat-list-item>
            <span><strong>Median:</strong> {{ median | toFixed:{places: 3} }}</span>
          </mat-list-item>
          <mat-list-item>
            <span><strong>Variance:</strong> {{ variance | toFixed:{places: 3} }}</span>
          </mat-list-item>
          <mat-list-item>
            <span><strong>Standard deviation:</strong> {{ standardDeviation | toFixed:{places: 3} }}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span [innerHTML]="'STATISTICS.note' | translate"></span>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <a mat-raised-button color="warn" type="button" [routerLink]="['/user', tag, 'statistics']">
      {{ "STATISTICS.details_button" | translate }}
    </a>
  </mat-card-actions>
</mat-card>
