<a class="skip-to-main" href="#main" title="{{ 'MISC.skip_to_main' | translate }}">{{ "MISC.skip_to_main" | translate }}</a>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <mat-nav-list *ngIf="user.isUserLoggedIn()">
        <h3 mat-subheader>Menu</h3>
        <mat-list-item routerLink="/user" (click)="sidenav.close()">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line>{{ "SIDEBAR.categories" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="tag" [routerLink]="['/user', tag]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>category</mat-icon>
          <h4 mat-line>{{ tag }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="tagStatistics" [routerLink]="['/user', tag, 'statistics']" (click)="sidenav.close()">
          <mat-icon mat-list-icon>assessment</mat-icon>
          <h4 mat-line>{{ "TAG.title" | translate }}: {{ "HEADER.NAV.statistics" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="tagError" [routerLink]="['/user', tag, 'statistics', tagError]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>error</mat-icon>
          <h4 mat-line>{{ "TAG.title" | translate }}: {{ tagError }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="website && tagStatistics" [routerLink]="['/user', tag, 'statistics', tagError, website]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>language</mat-icon>
          <h4 mat-line>{{ website }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="website && !tagStatistics" [routerLink]="['/user', tag, website]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>language</mat-icon>
          <h4 mat-line>{{ website }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="websiteStatistics && tagStatistics" [routerLink]="['/user', tag, 'statistics', tagError, website, 'statistics']" (click)="sidenav.close()">
          <mat-icon mat-list-icon>assessment</mat-icon>
          <h4 mat-line>Website: {{ "HEADER.NAV.statistics" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="websiteStatistics && !tagStatistics" [routerLink]="['/user', tag, website, 'statistics']" (click)="sidenav.close()">
          <mat-icon mat-list-icon>assessment</mat-icon>
          <h4 mat-line>Website: {{ "HEADER.NAV.statistics" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="websiteError && tagStatistics" [routerLink]="['/user', tag, 'statistics', tagError, website, 'statistics', websiteError]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>error</mat-icon>
          <h4 mat-line>Website: {{ websiteError }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="websiteError && !tagStatistics" [routerLink]="['/user', tag, website, 'statistics', websiteError]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>error</mat-icon>
          <h4 mat-line>Website: {{ websiteError }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="page && tagStatistics" [routerLink]="['/user', tag, 'statistics', tagError, website, 'statistics', websiteError, page]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>web</mat-icon>
          <h4 mat-line>{{ page }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="page && !tagStatistics && websiteStatistics" [routerLink]="['/user', tag, website, 'statistics', websiteError, page]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>web</mat-icon>
          <h4 mat-line>{{ page }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="page && !tagStatistics && !websiteStatistics" [routerLink]="['/user', tag, website, page]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>web</mat-icon>
          <h4 mat-line>{{ page }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="pageCode && tagStatistics" [routerLink]="['/user', tag, 'statistics', tagError, website, 'statistics', websiteError, page, 'code']" (click)="sidenav.close()">
          <mat-icon mat-list-icon>code</mat-icon>
          <h4 mat-line>{{ "HEADER.NAV.code" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="pageCode && !tagStatistics && websiteStatistics" [routerLink]="['/user', tag, website, 'statistics', websiteError, page, 'code']" (click)="sidenav.close()">
          <mat-icon mat-list-icon>code</mat-icon>
          <h4 mat-line>{{ "HEADER.NAV.code" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="pageCode && !tagStatistics && !websiteStatistics" [routerLink]="['/user', tag, website, page, 'code']" (click)="sidenav.close()">
          <mat-icon mat-list-icon>code</mat-icon>
          <h4 mat-line>{{ "HEADER.NAV.code" | translate }}</h4>
        </mat-list-item>

        <mat-list-item *ngIf="pageEle && tagStatistics" [routerLink]="['/user', tag, 'statistics', tagError, website, 'statistics', websiteError, page, pageEle]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>code</mat-icon>
          <h4 mat-line [innerHtml]="'ELEMS.' + pageEle | translate"></h4>
        </mat-list-item>

        <mat-list-item *ngIf="pageEle && !tagStatistics && websiteStatistics" [routerLink]="['/user', tag, website, 'statistics', websiteError, page, pageEle]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>code</mat-icon>
          <h4 mat-line [innerHtml]="'ELEMS.' + pageEle | translate"></h4>
        </mat-list-item>

        <mat-list-item *ngIf="pageEle && !tagStatistics && !websiteStatistics" [routerLink]="['/user', tag, website, page, pageEle]" (click)="sidenav.close()">
          <mat-icon mat-list-icon>code</mat-icon>
          <h4 mat-line [innerHtml]="'ELEMS.' + pageEle | translate"></h4>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item routerLink="/user/add-category" (click)="sidenav.close()">
          <mat-icon mat-list-icon>add</mat-icon>
          <h4 mat-line>{{ "SIDEBAR.add_category" | translate }}</h4>
        </mat-list-item>

        <mat-list-item routerLink="/user/settings" (click)="sidenav.close()">
          <mat-icon mat-list-icon>settings</mat-icon>
          <h4 mat-line>{{ "HEADER.settings" | translate }}</h4>
        </mat-list-item>

        <mat-list-item (click)="user.logout();sidenav.close()">
          <mat-icon mat-list-icon>cancel</mat-icon>
          <h4 mat-line>{{ "LOGIN.logout" | translate }}</h4>
        </mat-list-item>
      </mat-nav-list>
      <br>
      <mat-list fxLayout="row" fxLayoutAlign="center center">
        <mat-list-item>
          <mat-form-field>
            <label for="sidenav-language">{{ 'FOOTER.language' | translate }}</label>
            <mat-select id="sidenav-language" [(value)]="selectedLang" (selectionChange)="changeLanguage()">
              <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
                {{ "LANGUAGES."+lang | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content (scroll)="onScroll($event)">

    <div id="main" class="main">
      <app-header [sidenav]="sidenav"></app-header>
      <router-outlet></router-outlet>
    </div>
    <br>
    <div class="footer">
      <app-footer></app-footer>
    </div>

    <button class="go_to_top" *ngIf="showGoToTop" fxHide.lt-md mat-fab color="accent" matTooltip="{{ 'MISC.go_to_top' | translate }}" (click)="goToTop()">
      <mat-icon aria-label="'MISC.go_to_top' | translate">arrow_upward</mat-icon>
    </button>
    <button class="go_to_top_mini" *ngIf="showGoToTop" fxHide.gt-sm mat-mini-fab color="accent" matTooltip="{{ 'MISC.go_to_top' | translate }}" (click)="goToTop()">
      <mat-icon aria-label="'MISC.go_to_top' | translate">arrow_upward</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
