<a class="skip-to-main" href="#main" title="{{ 'MISC.skip_to_main' | translate }}">{{ "MISC.skip_to_main" | translate }}</a>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <mat-nav-list *ngIf="user.isUserLoggedIn()">
        <h3 mat-subheader>Menu</h3>
        <mat-list-item routerLink="/user" (click)="sidenav.close()">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line>{{ "SIDEBAR.categories" | translate }}</h4>
        </mat-list-item>

        <mat-list-item routerLink="/user/add-category" (click)="sidenav.close()">
          <mat-icon mat-list-icon>add</mat-icon>
          <h4 mat-line>{{ "SIDEBAR.add_category" | translate }}</h4>
        </mat-list-item>

        <mat-list-item routerLink="/user/settings" (click)="sidenav.close()">
          <mat-icon mat-list-icon>settings</mat-icon>
          <h4 mat-line>{{ "HEADER.settings" | translate }}</h4>
        </mat-list-item>

        <mat-list-item (click)="user.logout();sidenav.close()">
          <mat-icon mat-list-icon>cancel</mat-icon>
          <h4 mat-line>{{ "LOGIN.logout" | translate }}</h4>
        </mat-list-item>
      </mat-nav-list>
      <br>
      <mat-list fxLayout="row" fxLayoutAlign="center center">
        <mat-list-item>
          <mat-form-field>
            <label for="sidenav-language">{{ 'FOOTER.language' | translate }}</label>
            <mat-select id="sidenav-language" [(value)]="selectedLang" (selectionChange)="changeLanguage()">
              <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
                {{ "LANGUAGES."+lang | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <perfect-scrollbar #scrollRef>
      <div class="main">
        <app-header [sidenav]="sidenav"></app-header>
        <span fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
          <small>V.1.0.0</small>
        </span>
        <router-outlet></router-outlet>
      </div>
      <br>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </perfect-scrollbar>

    <button class="go_to_top" *ngIf="showGoToTop" fxHide.lt-md mat-fab color="accent" matTooltip="{{ 'MISC.go_to_top' | translate }}" (click)="goToTop()">
      <mat-icon aria-label="'MISC.go_to_top' | translate">arrow_upward</mat-icon>
    </button>
    <button class="go_to_top_mini" *ngIf="showGoToTop" fxHide.gt-sm mat-mini-fab color="accent" matTooltip="{{ 'MISC.go_to_top' | translate }}" (click)="goToTop()">
      <mat-icon aria-label="'MISC.go_to_top' | translate">arrow_upward</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
