<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ "ADD_WEBSITE.existing.title" | translate }}
    </mat-panel-title>
    <mat-panel-description fxHide.lt-md>
      {{ "ADD_WEBSITE.existing.subtitle" | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <form (submit)="addWebsite($event)" fxLayout="column" novalidate>
      <mat-form-field>
        <label for="websites_list">{{ "ADD_WEBSITE.existing.label" | translate }}</label>
        <mat-select id="websites_list" [formControl]="websiteForm" multiple required>
          <mat-option *ngFor="let w of websites" [value]="w.WebsiteId">
            <span [innerHTML]="'ADD_WEBSITE.existing.option' | translate:{tag: w.TagName, website: w.Name, url: w.Url}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" [disabled]="websiteForm.invalid">
          {{ "ADD_WEBSITE.existing.button" | translate }}
        </button>
      </div>
    </form>
  </ng-template>
</mat-expansion-panel>
