<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "STATISTICS.subtitle" | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
    <div>
      <ngx-gauge [type]="'semi'" [thick]="'10'" [value]="score | toFixed" [label]="'STATISTICS.gauge.label' | translate"
        [min]="0" [max]="10" [duration]="2000" [thresholds]="thresholdConfig">
      </ngx-gauge>
    </div>
    <div>
      <mat-list>
        <mat-list-item>
          <span><strong>WCAG 2.0</strong></span>
        </mat-list-item>
        <mat-list-item>
          <span mat-line>
            <strong>{{ "STATISTICS.website_conform" | translate }} </strong>
            <span *ngIf="pagesWithErrorsA > 0">{{ "STATISTICS.conform_veredict_a" | translate }}</span>
            <span *ngIf="pagesWithErrorsA === 0 && pagesWithErrorsAA > 0">{{ "STATISTICS.conform_veredict_aa" |
              translate }}</span>
            <span *ngIf="pagesWithErrorsA === 0 && pagesWithErrorsAA === 0 && pagesWithErrorsAAA > 0">{{
              "STATISTICS.conform_veredict_aaa" | translate }}</span>
            <span *ngIf="pagesWithErrorsA === 0 && pagesWithErrorsAA === 0 && pagesWithErrorsAAA === 0">{{
              "STATISTICS.conform_veredict_success" | translate }}</span>
          </span>
          <div class="pages_conform" mat-line fxLayout="column">
            <span>
              {{ (pagesWithErrorsA / pages.length) * 100 | toFixed }}% A
              <em *ngIf="pagesWithErrorsA === 1">
                ({{ pagesWithErrorsA }} {{ "STATISTICS.n_pages.s" | translate }})
              </em>
              <em *ngIf="pagesWithErrorsA !== 1">
                ({{ pagesWithErrorsA }} {{ "STATISTICS.n_pages.p" | translate }})
              </em>
            </span>
            <span>
              {{ (pagesWithErrorsAA / pages.length) * 100 | toFixed }}% AA
              <em *ngIf="pagesWithErrorsAA === 1">
                ({{ pagesWithErrorsAA }} {{ "STATISTICS.n_pages.s" | translate }})
              </em>
              <em *ngIf="pagesWithErrorsAA !== 1">
                ({{ pagesWithErrorsAA }} {{ "STATISTICS.n_pages.p" | translate }})
              </em>
            </span>
            <span>
              {{ (pagesWithErrorsAAA / pages.length) * 100 | toFixed }}% AAA
              <em *ngIf="pagesWithErrorsAAA === 1">
                ({{ pagesWithErrorsAAA }} {{ "STATISTICS.n_pages.s" | translate }})
              </em>
              <em *ngIf="pagesWithErrorsAAA !== 1">
                ({{ pagesWithErrorsAAA }} {{ "STATISTICS.n_pages.p" | translate }})
              </em>
            </span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.mean" | translate }}:</strong> {{ score | toFixed:{places: 3} }}</span>
        </mat-list-item>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.pages" | translate }}:</strong> {{ pages.length }}</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <table border="1" frame="void" rules="rows">
        <thead>
          <tr>
            <th colspan="3">{{ "STATISTICS.table.title" | translate }}</th>
          </tr>
          <tr>
            <th>A</th>
            <th>AA</th>
            <th>AAA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ tablePagesErrorsA }}</td>
            <td>{{ tablePagesErrorsAA }}</td>
            <td>{{ tablePagesErrorsAAA }}</td>
          </tr>
          <tr>
            <td>{{ (tablePagesErrorsA / pages.length) * 100 | toFixed }}%</td>
            <td>{{ (tablePagesErrorsAA / pages.length) * 100 | toFixed }}%</td>
            <td>{{ (tablePagesErrorsAAA / pages.length) * 100 | toFixed }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
