<h1 mat-dialog-title>{{ "TAGS.dialog.title" | translate }}</h1>
<mat-dialog-content>
  <p>{{ "TAGS.dialog.first_sentence" | translate }}</p>
  <p>{{ "TAGS.dialog.second_sentence" | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close="true">{{ "TAGS.dialog.yes" | translate }}</button>
  <span fxFlex></span>
  <button mat-raised-button color="warn" mat-dialog-close="false">{{ "TAGS.dialog.no" | translate }}</button>
</mat-dialog-actions>