<section>
  <mat-card class="mat-typography">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>
        <h1>{{ tag }}</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <br>
  <app-add-pages *ngIf="!loading && !error"></app-add-pages>
  <br>
  <app-tag-statistics [pages]="pages" *ngIf="!loading && !error"></app-tag-statistics>
  <br>
  <app-pages-table [tag]="tag" [pages]="pages" *ngIf="!loading && !error"></app-pages-table>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</section>