<section>
  <mat-card class="mat-typography">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>
        <h1>{{ "TAG.title" | translate }} {{ tag }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a mat-icon-button class="tools" routerLink="/user" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
         <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <br>
  <div *ngIf="!loading && !error">
    <app-add-website [tag]="tag" (addExistingWebsite)="addExistingWebsite($event)" (addNewWebsite)="addNewWebsite($event)"></app-add-website>
    <br>
    <span class="no-websites-message" *ngIf="websites.length === 0" fxLayout="column" fxLayoutAlign="start center">
      <p>{{ "TAG.no_websites.message1" | translate }}</p>
      <p>{{ "TAG.no_websites.message2" | translate }}</p>
    </span>
    <app-tag-statistics *ngIf="websites.length > 0" [tag]="tag" [websites]="websites"></app-tag-statistics>
    <br *ngIf="websites.length > 0">
    <app-websites-table *ngIf="websites.length > 0" [tag]="tag" [websites]="websites" (removeWebsites)="removeWebsites($event)"></app-websites-table>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</section>