<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ "ADD_PAGES.title" | translate }}
    </mat-panel-title>
    <mat-panel-description>
      {{ "ADD_PAGES.subtitle" | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <form (submit)="addPages($event)" fxLayout="column" novalidate>
      <mat-form-field>
        <label for="add_pages_input">{{ "ADD_PAGES.label" | translate }}</label>
        <textarea id="add_pages_input" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" [formControl]="urlsForm" [errorStateMatcher]="matcher" required></textarea>
        <mat-error *ngIf="urlsForm.hasError('required')" [innerHTML]="'ADD_PAGES.required' | translate"></mat-error>
        <mat-error *ngIf="urlsForm.hasError('url')" [innerHTML]="'ADD_PAGES.error' | translate"></mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" [disabled]="urlsForm.invalid">
          {{ "ADD_PAGES.button" | translate }}
        </button>
      </div>
    </form>
  </ng-template>
</mat-expansion-panel>