<section>
  <mat-card class="mat-typography">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>
        <h1>{{ "TAGS.title" | translate }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!loading && !error && tags.length > 0">
      <div class="page-table-header">
        <mat-form-field appearance="outline">
          <label for="tags_filter">{{ "TAGS.table.filter" | translate}}</label>
          <input id="tags_filter" matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
      </div>

      <button mat-raised-button color="warn" (click)="deleteTags()" [disabled]="!selection.hasValue()">
        {{ "TAGS.remove_button" | translate }}
      </button>

      <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="Select">
          <mat-header-cell *matHeaderCellDef fxFlex.gt-xs="10" fxFlex.xs="20">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex.gt-xs="10" fxFlex.xs="20">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TAGS.table.name" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="[element.Name]"><strong>{{element.Name}}</strong></a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Websites">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm> {{ "TAGS.table.websites" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxHide.lt-sm>{{element.Websites}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Pages">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm> {{ "TAGS.table.pages" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxHide.lt-sm>{{element.Pages}}</mat-cell>
        </ng-container>

        <!--<ng-container matColumnDef="See">
          <mat-header-cell *matHeaderCellDef fxFlex="10"></mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10">
            <button mat-icon-button matTooltip="{{ 'TAGS.table.see_tooltip' | translate }}" [routerLink]="['/user', element.Name]"
              fxFlex>
              <mat-icon class="md-24" aria-label="">visibility</mat-icon>
            </button>
          </mat-cell>
        </ng-container>-->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
    <mat-card-content *ngIf="!loading && !error && tags.length === 0" fxLayout="column" fxLayoutAlign="start center">
      <span>{{ "TAGS.create_message" | translate }}</span>
      <br>
      <button mat-raised-button color="primary" type="button" (click)="openCreateCategoryDialog()" fxHide.lt-md>
        {{ "TAGS.create_button" | translate }}
      </button>
      <button mat-raised-button color="primary" type="button" routerLink="add-category" fxHide.gt-sm>
        {{ "TAGS.create_button" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</section>
