<section>
  <mat-card class="mat-typography">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>
        <h1>{{ "WEBSITE.title" | translate }} {{ website }}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>{{ "WEBSITE.subtitle" | translate }} {{ tag }}</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-icon-button class="tools" [routerLink]="goBack()" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
         <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <br>
  <div *ngIf="!loading && !error">
    <app-add-pages [tag]="tag" [website]="website" (addPages)="addPages($event)"></app-add-pages>
    <br>
    <span class="no-pages-message" *ngIf="pages.length === 0" fxLayout="column" fxLayoutAlign="start center">
      <p>{{ "WEBSITE.no_pages.message1" | translate }}</p>
      <p>{{ "WEBSITE.no_pages.message2" | translate }}</p>
    </span>
    <app-website-statistics *ngIf="pages.length > 0" [tag]="tag" [website]="website" [pages]="pages"></app-website-statistics>
    <br *ngIf="pages.length > 0">
    <app-pages-table *ngIf="pages.length > 0" [tag]="tag" [website]="website" [pages]="pages" (removePages)="removePages($event)"></app-pages-table>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</section>